$--app-light-color: #fff;
$--app-primary-color: #027aff;
$--app-info-color: #f5f7fa;
$--app-notice-color: #b2b2b2;

$--app-table-header-bgColor: #f2f2f2;
$--app-box-shadow: 0 0 8px 0 #dcdef8;
$--app-base-border-radius: 4px;
$--app-base-font-color: #303133;
$--app-dark-font-color: #606266;
$--app-widget-hover-color: #efefef;

$--app-base-font-size: 12px;