@import '~normalize.css';
@import './mixin.scss';
@import './element-custom.scss';
// @import '~xx-vxe-table/lib/style.css';

body {
  scroll-behavior: smooth;
  &.is-win {
    /* 滚动条样式 */
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #b2b2b280;
      border-radius: 2em;
      &:hover {
        background-color: #b2b2b2;
      }
    }

    ::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    //::-moz-selection {
    //  color: #fff;
    //}
    * {
      // 取消firefox的滚动条
      scrollbar-color: #b2b2b280 transparent;
      -ms-scrollbar-track-color: transparent;
      scrollbar-track-color: transparent;
      scrollbar-width: thin;
      :hover {
        scrollbar-color: #b2b2b2 transparent;
      }
    }
  }
}

body * {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  // may cause problem
  word-break: break-all;
  word-wrap: break-word;
}

*:focus {
  outline: none;
}

.x-svg-icon {
  &.pointer {
    .svg-icon {
      cursor: pointer;
      &:hover {
        color: $--app-primary-color;
      }
    }
  }
  &.pointer-colorless {
    .svg-icon {
      cursor: pointer;
    }
  }
}

.el-tooltip__popper.is-dark.x-ellipsis-tooltip {
  z-index: 5001 !important;
}

.x-product-skeleton {
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  animation: x-product-skeleton-loading 1.4s ease infinite;
  &.x-product-skeleton-block {
    width: 100%;
    height: 24px;
    margin: 0 8px;
  }
  &.x-product-skeleton-tag {
    display: inline-block;
    box-sizing: content-box;
    padding: 0 8px;
    width: 60px;
    height: 24px;
  }
}

@keyframes x-product-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.el-message-box__wrapper {
  .el-message-box {
    padding: 24px 32px;
    vertical-align: unset !important;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    vertical-align: unset;
    .el-message-box__header {
      padding: 0;
      padding-bottom: 24px;
      .el-message-box__title {
        color: #303133;
        font-size: 14px;
        font-weight: bold;
      }
      .el-message-box__headerbtn {
        top: -4px;
        right: 0;
        font-size: 24px;
        .el-message-box__close {
          color: #303133;
        }
      }
    }
    .el-message-box__content {
      padding: 0;
      overflow-y: auto;
    }
    .el-message-box__btns {
      padding: 0;
    }
  }
}

// .popper__arrow {
//   display: none !important;
// }

.el-tag {
  &.x-product-normal-tag {
    margin-right: 12px;
    padding: 0 8px;
    background-color: #f5f7fa;
    border-radius: 2px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #303133;
    border: none;
  }
}

.x-empty-page {
  .x-svg-icon {
    .svg-icon {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.el-dialog__wrapper {
  // 控制弹框的最大高度，不被浏览器遮挡
  .x-modal-wrapper {
    max-height: 80vh;
    .el-dialog__body {
      max-height: calc(80vh - 200px);
    }
  }
  // end
  .el-dialog {
    .el-dialog__header {
      padding-bottom: 0px !important;
    }
    .el-dialog__body {
      // 修改model的label和content内容字体大小
      .el-form-item {
        .el-form-item__label {
          font-size: 12px;
        }
        .el-form-item__content {
          font-size: 12px;
          .el-textarea {
            font-size: 12px;
          }
          .el-input__inner {
            font-size: 12px;
          }
        }
      }
    }
    // end
    .el-dialog__footer {
      padding: 0px 12px 12px 12px !important;
      .el-button {
        padding: 9px 23px;
        font-size: 12px;
      }
      .el-button--default {
        border: 1px solid $--app-primary-color;
        color: $--app-primary-color;
      }
    }
    .el-form--label-top {
      .el-form-item__label {
        padding-bottom: 0;
        margin-bottom: -6px;
      }
      .el-form-item {
        margin-bottom: 9px;
      }
    }
  }
}

// 修改search搜索框宽度
body {
  .business-table {
    .table-extra-header {
      .table-extra-right {
        .table-extra-search {
          margin-right: 25px;
          .el-input {
            .el-input__inner {
              width: 105%;
            }
          }
        }
      }
    }
  }
}

.table-skeleton {
  .business-table-main {
    .pagination {
      .el-pagination__sizes {
      }
    }
  }
}
.el-select-dropdown {
  .el-scrollbar {
    .el-scrollbar__wrap {
      .el-select-dropdown__item {
        font-size: 13px;
      }
    }
  }
}

body {
  .menu-config-dropdown-menu {
    padding: 6px 0;
    .el-dropdown-menu__item {
      font-size: 12px;
    }
  }
  .project-permission-config-dropdown-menu {
    margin-top: 0 !important;
  }
}

// 消息toast样式
.message-toast-class {
  min-width: 0 !important;
  font-size: $--app-title-font-size !important;
  background-color: $--app-box-bgColor !important;
  border: $--app-box-bgColor !important;
  box-shadow: $--app-box-shadow;
  padding: 13px 20px !important;
  margin-top: 20px;
}

body {
  .x-person-tag {
    width: 100%;
    background-color: initial;
  }
}

.x-date {
  .el-input__inner {
    padding: 0 !important;
    .el-input__icon.el-icon-date {
      display: none;
    }
    .el-range-separator {
      line-height: 26px;
    }
  }
  .el-range-editor--mini .el-range__close-icon {
    line-height: 26px;
    position: absolute;
    right: 8px;
  }
}

.el-dialog__wrapper {
  .x-modal-wrapper {
    margin: 0 auto !important;
    padding: 12px 20px;

    .el-dialog__header {
      padding: 12px 8px 12px 12px !important;
    }

    .el-dialog__body {
      padding: 12px;
    }

    .el-dialog__footer {
      padding: 12px !important;
    }
  }

  display: flex;
  align-items: center;
  padding: 12px 0;
}

.el-dialog__wrapper,
.el-drawer__wrapper {
  .x-drawer-wrapper,
  .x-modal-wrapper {
    .modal-header-row {
      display: flex;
      align-items: center;
      .header-title {
        font-size: 14px;
        font-weight: bold;
      }
      .search-block {
        margin-left: 16px;
        margin-right: 24px;
        border-left: 1px solid #dcdfe6;
        flex: 1;
        height: 14px;
        display: flex;
        align-items: center;
        .el-input {
          height: 100%;
          display: flex;
          align-items: center;
          .el-input__inner {
            position: relative;
            left: 28px;
            height: 100%;
            font-size: 12px;
            border: 0;
          }
          .el-input__prefix {
            display: flex;
            align-items: center;
            left: 12px;
            .header-search-icon {
              width: 14px;
              height: 14px;
            }
          }
        }
      }
      .block {
        flex: 1;
      }

      .header-close-icon {
        cursor: pointer;

        &:hover {
          color: $--app-primary-color;
        }
      }
    }
  }
  .fullscreen-modal.el-dialog.x-modal-wrapper,
  .fullscreen-modal.el-drawer.x-drawer-wrapper {
    position: fixed;
    top: 0;
    width: unset !important;
    left: 0;
    right: 0;
    bottom: 0;
    height: unset !important;
    max-height: unset;
    .el-drawer__body, 
    .el-dialog__body {
      height: calc(100% - 128px);
      max-height: unset;
    }
  }
  .drawer-footer {
    text-align: right;
  }
}

.desc-textarea {
  .el-textarea__inner {
    min-height: 48px;
    max-height: 120px;
  }
}

@keyframes antline {
  to {
    stroke-dashoffset: -800;
  }
}

.pointer {
  cursor: pointer;
  &:hover {
    color: $--app-primary-color;
  }
}